<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Category</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <h1>Update Category</h1>
    <form method="POST" action="/categories/<%= category._id %>/update">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        value="<%= category.name %>"
        required
      /><br />
      <label for="description">Description:</label>
      <textarea id="description" name="description" required>
<%= category.description %></textarea
      ><br />
      <button type="submit">Update</button>
    </form>
  </body>
</html>
