<!DOCTYPE html>
<html>
  <head>
    <title>Inventory Management App</title>
    <link rel="stylesheet" href="../styles/styles.css" />
  </head>
  <body>
    <h1>Welcome to the Inventory Management App!</h1>
    <div class="container">
      <h2>Explore:</h2>
      <div>
        <a href="/categories">Categories</a>
      </div>
      <div>
        <a href="/items">Item</a>
      </div>
    </div>
  </body>
</html>
