<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Item List</title>
    <link rel="stylesheet" href="../styles/styles.css" />
  </head>
  <body>
    <h1>Item List</h1>
    <div class="nav-link">
      <a href="/">Home</a>
    </div>
    <div class="nav-link">
      <a href="/items/create">Create</a>
    </div>

    <div class="container">
      <ul>
        <% items.forEach(function(item) { %>
        <li><a href="/items/<%= item._id %>"><%= item.name %></a></li>
        <% }); %>
      </ul>
    </div>
  </body>
</html>
